body{
  background-image: linear-gradient(120deg,$claro 10%,$oscuro 100%);
}
// Styling for page sections
.page-section {
  padding: 6rem 0;
  .page-section-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  @include media-breakpoint-up(lg) {
    .page-section-heading {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}
